body {
    background-color: black;
    font-family: "Libre Baskerville", serif;
}

.poster-container {
    width: 50%;
    margin-left: 25%;
    text-align: center;
    color: white;
    margin-top: 100px;
}

.poster-image {
    border: 5px solid white;
    width: 100%;
}

.poster-container h1 {
    text-transform: uppercase;
}